# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env/
env
env/
env.example


# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Test / coverage
.coverage
htmlcov/
